version: "2"

services:
  db:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=postgres
    volumes:
      - db:/var/lib/postgresql
    expose:
      - "5432"

  assets: &ruby
    build: .
    volumes:
      - .:/app
      - bundle_path:/usr/local/bundle
    environment:
      - BUNDLE_APP_CONFIG=/app/.bundle
      - AUTH_NAME=secretary
      - AUTH_PASSWORD=password
    working_dir: /app
    command: yarn build --watch

  app:
    <<: *ruby
    command: bundle exec falcon serve -n 2 -b 'http://0.0.0.0:3000'
    ports:
      - "3000:3000"
    links:
      - db

volumes:
  bundle_path:
  db:
