version: "2"

services:
  db:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=postgres
    volumes:
      - db:/var/lib/postgresql/data
    expose:
      - "5432"

  app:
    build: .
    volumes:
      - .:/app
      - bundle_path:/usr/local/bundle
    environment:
      - BUNDLE_APP_CONFIG=/app/.bundle
    working_dir: /app
    command: bundle exec falcon serve -n 2 -b 'tcp://0.0.0.0:3000'
    ports:
      - "3000:3000"
    links:
      - db

volumes:
  bundle_path:
  db:
