<p>
  This is a legal document. The secretary of
  <%= ENV.fetch("SOCIETY_NAME") { "Sample Society" } %>
  is required to maintain this membership register
  and can be asked to provide it  if the society is audited.

  More details can be found on the
  <%= link_to 'societies website', 'http://www.societies.govt.nz/cms/incorporated-societies/running-a-society/what-records-should-you-keep' %>.
</p>
