<div class="page-header">
  <h2><%= t '.page-title' %></h2>
</div>

<%= render 'details', member: @member %>

<p>
  <%= link_to t(:edit), edit_admin_member_path(@member) %>
  |
  <%= link_to t(:back), admin_members_path %>
</p>
