<p>
  You can check your membership and update your details with the email address
  you used for membership.
  <%= simple_form_for(inquiry) do |f| %>
    <%= f.input :email, placeholder: 'Email Address', label: false %>
    <%= f.button :submit, 'Submit Inquiry' %>
  <% end %>
</p>
