<p>
  <%= t '.instructions' %>

  <%= simple_form_for(inquiry, url: membership_inquiry_path) do |f| %>
    <%= f.input :email, placeholder: :translate, label: false %>
    <%= f.button :submit %>
  <% end %>
</p>
