@use "variables" as *;

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $footer-height;
}

.page-footer {
  background-color: #eeeeee;
  bottom: 0;
  font-style: italic;
  height: $footer-height;
  padding: 1em;
  position: absolute;
  text-align: center;
  width: 100%;
}
