<div class="row">
  <% if voting_enabled? %>
    <div class="col-md-12">
      <h2>Voting now live</h2>
      <p>
        Voting for this year's AGM is available for members.
        <%= link_to 'Cast your vote…', new_vote_request_path %>
      </p>
    </div>
  <% end %>

  <div class="col-md-6">
    <div class="page-header">
      <h2>New Members</h2>
    </div>

    <p>
      This is Ruby New Zealand’s official membership register.
      Membership isn’t very fancy, but it does allow you to have your say about the committee
      and other society matters at the AGM held at Rails Camp each year.
      <br>
      <%= link_to 'Register for membership…', new_member_path %>
    </p>
  </div>
  <div class="col-md-6">
    <div class="page-header">
      <h2>Existing Members</h2>
    </div>

    <p>
      Already a member and need to update your details? Not sure if you're a member?<br>
      <%= link_to 'Check existing membership…', new_membership_inquiry_path %>
    </p>

    <br>

    <p>
      Want to confirm your continued existing membership to the Ruby New Zealand Society?<br>
      <%= link_to 'Confirm existing membership…', new_membership_confirmation_path %>
    </p>
  </div>
</div>
