<p>
  This is Ruby New Zealand’s official membership register.
  Membership isn’t very fancy, but it does allow you to have your say about the committee
  and other society matters at the AGM held at Rails Camp each year.
</p>

<ul>
  <li><%= link_to 'Register for membership', new_member_path %></li>
  <li><%= link_to 'Check existing membership', new_membership_inquiry_path %></li>
</ul>
