<p>
  This is an overview of Ruby New Zealand’s official membership register. If you’d like to sign up, please fill out the
  <%= link_to 'membership registration form', new_member_path %>.
  Membership isn’t very fancy, but it does allow you to have your say about the committee
  and other society matters at the AGM held at Rails Camp each year.
</p>

<%= render 'membership_inquiries/form', inquiry: MembershipInquiry.new %>
