<h2>Thanks!</h2>

<p>If you have a membership, you should shortly receive a unique voting link to your email address.</p>

<p>Allow a few minutes for the email to arrive.</p>

<p>Please keep this link secret.</p>

