name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - run: cp config/database.yml.docker config/database.yml
      - run: cp docker-compose.yml.sample docker-compose.yml
      - run: cp .env.sample .env
      - run: docker compose build --pull --build-arg RAILS_ENV=test
      - run: docker compose run -e RAILS_ENV=test app bundle config set without 'development'
      - run: docker compose run -e RAILS_ENV=test app bundle install
      - run: docker compose run -e RAILS_ENV=test app yarn install
      - run: docker compose run -e RAILS_ENV=test app bundle exec rake assets:precompile
      - run: docker compose run -e RAILS_ENV=test app bundle exec rake db:{create,migrate}
      - run: docker compose run -e RAILS_ENV=test app bundle exec rspec -f d
