<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex">
  <title>Official Membership Register | Ruby New Zealand Incorporated</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="/stylesheets/membership.css" media="screen" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="//use.typekit.net/lpd5kis.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>
  <h1>
    Official Membership Register
    <small>Ruby New Zealand Incorporated</small>
  </h1>

  <div class="flash">
    <%= flash[:notice] %>
  </div>
  <%= yield %>
</body>
</html>
