<h2>
  Membership Details
</h2>

<%= render 'details', member: @member %>

<p><%= link_to 'Update Details…', edit_member_path(member) %></p>

<p class="small text-muted">
  If you would like to cancel your membership,
  please email <a href="mailto:secretary@ruby.nz">secretary@ruby.nz</a>.
</p>
