<div class="alert alert-warning">
  <p>
    <span class="glyphicon glyphicon-ban-circle"></span>
    <%= t '.message' %>
  </p>
</div>

<%= render 'membership_inquiries/form', inquiry: MembershipInquiry.new(email: @member.email) %>
